.header {
  z-index: 100;
}

.action_bar {
  display: grid;
  grid-template-columns: auto minmax(320px, 960px) auto;
  gap: 20px;
}

.action_bar_container {
  grid-column: 2;
  padding: 0 20px;

    .contact_details {
      color: var(--white);
      padding: 20px 0;
      font-size: 16px;
      line-height: 20px;
    }

    .phone {
      display: inline-block;
      margin-right: 10px;
    }

    .mail {
      display: inline-block;
      margin-right: 10px;
    }
}

.menu_bar {
  display: grid;
  grid-template-columns: auto minmax(320px, 960px) auto;
  gap: 20px;
}

.menu_bar_container {
  grid-column: 2;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  background-color: #fff;
  padding: 0 20px;

  .logo {
    font-size: 16px;
    font-weight: 400;
    line-height: 60px;
    text-transform: uppercase;
    padding: 15px;
  }

  .menu_wrapper {
    font-size: 16px;
    font-weight: 400;
    line-height: 60px;
    text-transform: uppercase;
    padding: 15px;
  }
}
