// .header {
//   background-image: url('/aps-bg.png');
//   background-repeat: no-repeat;
//   background-position: center top;
//   height: 600px;
//   width: 100%;
// }

.action_bar_container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  outline: 1px solid blue;

    .contact_details {
      color: var(--white);
      padding: 20px 0;
    }

    .phone {
      display: inline-block;
      margin-right: 10px;
    }

    .mail {
      display: inline-block;
      margin-right: 10px;
    }
}

.top_bar_container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  justify-items: end;
  outline: 1px solid blue;
  text-align: center;
  background-color: #fff;
}
