.section_bg {
  position: relative;

  outline: 1px solid red;
}

.section {
  display: grid;
  grid-template-columns: auto minmax(320px, 1180px) auto;
  gap: 20px;

  outline: 1px solid rgb(255, 0, 0);
}

.container {
    grid-column: 2;
    padding: 0 20px;
    display: grid;
    margin-top: 150px;

    outline: 1px solid green;
}

.breadcrumbs_container {
  display: flex;
  margin-bottom: 40px;
}

.breadcrumbs {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  gap: 10px;
}

.heading_container {
  display: grid;
  color: #fff;
  text-align: center;
  margin-bottom: 60px;

  .heading {
    display: grid;
    gap: 10px;
  
    h1 {
      font-size: 44px;
      line-height: 50px;
      font-weight: 900;
      margin: 0px;
    }
  
    .sub, .sup {
      color: rgba(255, 255, 255, 0.80);
      font-size: 20px;
      line-height: 30px;
      font-weight: 500;
    }
  }

  hr {
    height: 4px;
    width: 400px;
    color: #ff6600;
    background: #ff6600;
    margin: 16px auto;
    border: 0;
  }
  
  .text {
    display: grid;
    gap: 4px;
    font-size: 18px;
    margin-bottom: 16px;
  }
  
  .btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.btn {
  padding: 12px 28px;
  border-radius: 50px;
  background: #FFF;
  box-shadow: 0px 0px 32px 0px rgba(234, 114, 4, 0.4);
  font-size: 18px;
  line-height: 24px;
  border: none;
}
