.headSection {
    background-image: url('/video-bg.webp');
    background-repeat: no-repeat;
    background-position: center top;
    height: 600px;
    padding-top: 200px;
  }

  .btnTitleFlexBox {
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  