.container {
    display: grid;
    grid-template-columns: repeat(3, minmax(260px, 1fr));
    gap: 60px;

    // outline: 1px solid blue;
}

.item {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 10px;

    .image_wrapper {
        display: flex;
        justify-content: center;
        align-items: start;
    }

    .text_wrapper {
        font-size: 1rem;
        line-height: normal;

        .title {
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            margin-bottom: 4px;
        }

        p {
            margin: 0;
            padding: 0;
        }
    }
}

