.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;

    // outline: 1px solid blue;
}

.item {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 10px;

    .image_wrapper {
        display: flex;
        justify-content: center;
        align-items: start;
    }

    .text_wrapper {
        font-size: 16px;
        line-height: normal;

        .title {
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            margin-bottom: 4px;
            margin-top: 0;
        }

        p {
            margin: 0;
            padding: 0;
        }
    }
}

// media

@media (576px < width <= 1220px) {
    .container {
        row-gap: 40px;
        column-gap: 40px;
    }

    .item {
        grid-template-columns: 30px 1fr;

        .image {
            width: 100%;
            height: auto;
            object-fit: contain;
        } 
   
        .text_wrapper {
            font-size: 16px;
            line-height: normal;
    
            .title {
                font-size: 16px;
                font-style: normal;
            }
        }
    }
  }

// media

@media (width <= 576px) {
    .container {
        grid-template-columns: 1fr;
        gap: 40px;
    }
}

