.section {
  display: grid;
  grid-template-columns: auto minmax(960px, 1180px) auto;
  gap: 40px;
  padding: 50px 0;

  position: relative;

  // outline: 1px solid rgb(255, 0, 0);
}

.container {
    grid-column: 2;
    padding: 0 20px;
    display: grid;
    margin-top: 100px;

    // outline: 1px solid green;
}

.heading_container {
  display: grid;
  color: #fff;
  text-align: center;

  .heading {
    display: grid;
    gap: 10px;
  
    h1 {
      font-size: 44px;
      line-height: 50px;
      font-weight: 900;
      text-transform: uppercase;
      margin: 0px;
    }
  
    .sub, .sup {
      color: rgba(255, 255, 255, 0.80);
      font-size: 20px;
      line-height: 30px;
      font-weight: 500;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
    }
  }

  hr {
    height: 4px;
    width: 400px;
    color: #ff6600;
    background: #ff6600;
    margin: 16px auto;
    border: 0;
  }
  
  .text {
    display: grid;
    gap: 4px;
    font-size: 18px;
    margin-bottom: 24px;

    p {
      margin: 0;
    }
  }
  

}

.btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
}


