.container {
    display: grid;
    grid-template-columns: repeat(3, minmax(260px, 1fr));
    gap: 60px;

    // outline: 1px solid blue;
}

.item {
    display: flex;
    flex-direction: column;

    .icon_wrapper {
        display: flex;
        margin-bottom: 16px;
    }

    .text_wrapper {
        font-size: 1rem;
        line-height: normal;

        .title {
            font-weight: 700;
            font-size: 16px;
            font-style: normal;
            line-height: normal;
            text-transform: uppercase;
            margin-bottom: 4px;
        }
        
        p {
            margin: 0;
            padding: 0;
        }
    }
}

