.container {
    display: grid;
    grid-template-columns: repeat(3, minmax(260px, 1fr));
    gap: 60px;

    // outline: 1px solid blue;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .icon_wrapper {
        display: flex;
    }

    .text_wrapper {
        font-size: 1rem;
        line-height: normal;

        .title {
            font-weight: 700;
            font-size: 16px;
            font-style: normal;
            line-height: normal;
            text-transform: uppercase;
            margin-bottom: 4px;
            margin-top: 0;
        }
        
        p {
            margin: 0;
            padding: 0;
        }
    }
}

// media

@media (576px < width <= 1220px) {
    .container {
        column-gap: 40px;
    }
}

// media

@media (width <= 576px) {
    .container {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .item {
        flex-direction: row;
    }
}
