.container {
    display: grid;
    grid-template-columns: repeat(3, minmax(260px, 1fr));
    gap: 50px;

    outline: 1px solid blue;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    justify-content: end;
    position: relative;

    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        z-index: -1;
    }

    .text {
        font-size: 18px;
        font-weight: 700;
        color: white;
        line-height: normal;
        text-align: center;
        margin: 12px 0;
    }
}

