.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;

  // outline: 1px solid blue
}

.item {
  text-align: center;

  hr {
    height: 2px;
    width: 60%;
    background-color: #E5E5E5;
    border: none;
  }
}

.head {
  align-items: center;
  

  .head_1 {
    font-size: 42px;
    font-weight: 900;
    font-style: normal;
    line-height: normal;
    color: transparent;
    background-image: linear-gradient(180deg, #EA7D04 0%, #E11315 100%);
    background-clip: text;
  }

  .head_2 {
    font-size: 17px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    color: #E85300
  }
}

.text {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  font-style: normal;
  text-align: center;
  white-space: pre-line;
}


