.title {
  padding-top: 130px;
  text-align: center;
  color: #fff;

  h1 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    margin: 0;

    span {
      color: #d6d6d6;
      font-size: 26px;
      line-height: 32px;
      font-weight: 300;
    }
  }

  .subTitle {
    color: #d6d6d6;
    font-size: 26px;
    line-height: 32px;
    font-weight: 300;
  }

  hr {
    height: 5px;
    width: 300px;
    color: #ff6600;
    background: #ff6600;
    margin: 20px auto;
    border: 0;
  }

  .description {
    font-size: 22px;
    line-height: 30px;
  }
}
