.heading {
  text-align: center;

  .sup {
    font-weight: 400;
  }

  h2 {
    font-size: 24px;
    font-weight: 900;
    line-height: 34px;
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
  }

  .sub {
    font-weight: 400;
  }
}
