.heading {
  padding-top: 130px;
  color: #fff;
  text-align: center;

  h1 {
    font-size: 44px;
    line-height: 64px;
    font-weight: 900;
    margin: 0px;
  }

  .sub, .sup {
    color: rgba(255, 255, 255, 0.80);
    font-size: 20px;
    line-height: 32px;
    font-weight: 700;
  }

  hr {
    height: 5px;
    width: 300px;
    color: #ff6600;
    background: #ff6600;
    margin: 20px auto;
    border: 0;
  }

  .description {
    font-size: 18px;
    line-height: 32px;
  }
}
