.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;

  // outline: 1px solid blue;
}

.item {
  display: flex;
  flex-direction: column;

  img {
    width: 140px;
    height: auto;
  }
 
  h4 {
    font-size: 18px;
    line-height: normal;
    margin-bottom: 6px;
  }

  .text {
      font-size: 15px;
      font-weight: 400;

      p {
        margin: 6px 0;
      }
  }
}

// media

@media (width <= 576px) {
  .container {
      grid-template-columns: 1fr;
      gap: 40px;

      outline: 1px solid cornflowerblue;
  }

  .item {
    img {
      width: 120px;
      height: auto;
    }
  }
}