.container {
  display: flex;
    gap: 16px;
    background-color: #ff660024;
    padding: 20px;
    border: 1px solid #ff6600bd;
    border-radius: 12px;
  
  p {
    margin: 8px 0;
  }

  .icon {
    color: red;
  }

  .title {
    font-size: 18px;
    font-weight: 800;
  }

}


