.headSection {
  background-image: url('/aps-bg.webp');
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 600px;
}

.col4 {
  outline: 1px solid rgb(32, 5, 90);
  padding: 20px;
}

@media only screen and (min-width: 640px) and (max-width:960px) {
  .col4 {
    background-color: aqua;
  }
}

@media only screen and (max-width:640px) {
  .col4 {
    background-color: rgb(255, 0, 153);
  }
}