.section {
    padding: 60px 0;
    display: grid;
    grid-template-columns: auto minmax(320px, 1180px) auto;
    gap: 40px;
  
    outline: 1px solid rgb(255, 0, 0);
  }

.heading_container {
    grid-column: 2;
    padding: 0 20px;

    outline: 1px solid green;
}

.items_container {
    grid-column: 2;
    padding: 0 20px;

    display: grid;
    grid-template-columns: repeat(4, minmax(220px, 1fr));
    gap: 20px;

    outline: 1px solid green;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .icon_wrapper {
        display: flex;
    }

    .text_wrapper {
        font-size: 1rem;
        line-height: normal;
    }
}

