.container {
    display: grid;
    grid-template-columns: repeat(4, minmax(220px, 1fr));
    gap: 20px;

    outline: 1px solid blue;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .icon_wrapper {
        display: flex;
    }

    .text_wrapper {
        font-size: 1rem;
        line-height: normal;
        font-weight: 500;

        p {
            margin: 0;
            padding: 0;
        }
    }
}

