.container {
  // outline: 1px solid blue;

}

.label {
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
}

.p {
  margin: 4px 0;

  .tab {
    display: inline-block;
    margin-left: 40px;
  }
}

// media

@media (width <= 576px) {
  .label {
    font-weight: 400;
    font-size: 15px;
    line-height: normal;
  }
}