.overlay {
  position: fixed;
  z-index: 1040;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  backdrop-filter: blur(5px);
  background-color: #00000096;
}

.show {
  opacity: 1;
}

.modal {
  position: relative;
  z-index: 1160;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 30%;
  height: 30%;

  padding: 10px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0 24px 32px rgb(0 0 0 / 4%), 0 16px 24px rgb(0 0 0 / 4%), 0 4px 8px rgb(0 0 0 / 4%),
    0 0 1px rgb(0 0 0 / 4%);
}

.title {
  font-weight: 700;
}

.enter .modal {
  opacity: 0;
  transform: scale(0.9);
}
.enterActive .modal {
  opacity: 1;
  transform: translateX(0);
  transition: all 200ms;
}
.exit .modal {
  opacity: 1;
}
.exitActive .modal {
  opacity: 0;
  transform: scale(0.9);
  transition: all 200ms;
}