.section {
  padding: 50px 0;
  display: grid;
  grid-template-columns: auto minmax(320px, 1180px) auto;
  gap: 20px;

  outline: 1px solid rgb(255, 0, 0);
}

.container {
    grid-column: 2;
    padding: 0 20px;

    outline: 1px solid green;
    
}
