.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;

    // outline: 1px solid blue;
}

.item {
    display: flex;
    gap: 16px;

    .image {
        border-radius: 12px;
        box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.05);
        border: 2px solid #fff;
    }

    .text {
        font-size: 18px;
        line-height: normal;
        // margin: 12px 0;
    }
}

// media

@media (576px < width <= 1220px) {
    .container {
        gap: 40px;
    }

    .item {
        flex-direction: column;
    }
}

// media

@media (width <= 576px) {
    .container {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .item {
        flex-direction: column;

        .text {
            font-size: 16px;
        }
    }
}