.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;

    // outline: 1px solid blue;
}

.item {
    display: flex;
    gap: 16px;

    .image {
        border-radius: 12px;
        box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.05);
        border: 2px solid #fff;
    }

    .title {
        font-size: 16px;
        line-height: normal;
        font-weight: 400;
        margin: 0;
    }

    .title:hover {
        color: var(--link-color-hover);
    }
}

// media

@media (576px < width <= 1220px) {
    .container {
        gap: 50px;
    }

    .item {
        flex-direction: column;
    }
}

// media

@media (width <= 576px) {
    .container {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .item {
        flex-direction: column;
    }
}