.heading_container {
    grid-column: 2;
    padding: 0 20px;

    outline: 1px solid green;
}

.items_container {
    grid-column: 2;
    padding: 0 20px;

    display: grid;
    grid-template-columns: repeat(3, minmax(260px, 1fr));
    gap: 60px;

    outline: 1px solid green;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .icon_wrapper {
        display: flex;
    }

    .text_wrapper {
        font-size: 1rem;
        line-height: normal;

        .heading {
            font-weight: 700;
        }

        p {
            margin: 0;
            padding: 0;
        }
    }
}

