.wrapper {
  min-height: 100vh;
  min-width: 100%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0px;
  color: var(--black);

  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  outline: 1px solid black;
}

.main {
  margin-top: -150px;
  outline: 1px solid black;
}

.footer {
  outline: 1px solid black;
}

