.container_3col {
    display: grid;
    grid-template-columns: repeat(3, minmax(260px, 1fr));
    gap: 40px;

    outline: 1px solid red;
}

.container_4col {
    display: grid;
    grid-template-columns: repeat(4, minmax(220px, 1fr));
    gap: 20px;
  
    outline: 1px solid red
  }

.gray_1 {
  background-color: #f8f9fa
}

.dark_form {
  background: linear-gradient(90deg, #525252 0%, #676666 50%, #525252 100%);
}

.light_form {
  background: linear-gradient(90deg, #c6c6c6 0%, #eeeeee 50%, #c6c6c6 100%);
  // background: linear-gradient(180deg, #f8f9fa 0%, #c6c6c6 100%);
}