.headSection {
  background-image: url('/home-bg.webp');
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 600px;
}

.buttonBox {
  text-align: center;
  margin: 30px;
}
