.headSection {
  background-image: url('/home-bg.webp');
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 600px;
}

.btnTitleFlexBox {
  align-items: center;
  justify-content: center;
  padding: 20px;
}
