.container {
    display: grid;
    grid-template-columns: repeat(4, minmax(240px, 1fr));
    gap: 20px;

    // outline: 1px solid blue;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 12px;

    background-color: rgba(255, 255, 255, 0.8);
    padding: 24px;
    border-radius: 10px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);

    .icon_wrapper {
        display: flex;
    }

    .text_wrapper {
        font-size: 1rem;
        line-height: normal;
        font-weight: 500;

        p {
            margin: 0;
            padding: 0;
        }
    }
}

