.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    // outline: 1px solid rgb(183, 255, 0);
}

.item {
    display: flex;
    flex-direction: column;
    gap: 12px;

    background-color: rgba(255, 255, 255, 0.8);
    padding: 24px;
    border-radius: 10px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);

    .icon_wrapper {
        display: flex;
    }

    .text_wrapper {
        white-space: pre-line;

        h4 {
            font-size: 1rem;
            line-height: normal;
            font-weight: 500;
            margin: 4px 0;
        }
    }
}

// media

@media (width <= 576px) {
    .container {
        grid-template-columns: 1fr;
        outline: 1px solid cornflowerblue;
    }

    .item {
        display: flex;
        flex-direction: row;
    }
}
