.header {
  z-index: 100;
}

.action_bar {
  display: grid;
  grid-template-columns: auto minmax(320px, 1180px) auto;
  gap: 20px;
}

.action_bar_container {
  grid-column: 2;
  padding: 16px 20px;
  display: flex;
  gap: 18px;
  justify-content: space-between;

    .left {
      display: flex;
      align-items: center;

      color: #FFF;
      font-size: 14px;
      line-height: 24px;

      min-width: 214px;
    }

    .rigt {
      display: flex;
      align-items: center;
      gap: 18px;
    }  
}

.contacts {
  color: var(--white);
  font-size: 14px;
  line-height: 24px;
  display: flex;
  gap: 18px;

  .contacts_item {
    display: flex;
    gap: 6px;
    align-items: center;
  }
  
  .contacts_item_icon {
    height: 20px;
    width: 20px;
    color: rgb(255 255 255 / 50%);
  }

  .phone {
    min-width: 122px;
  }
}



.messagers {
  display: flex;
  align-items: center;
  gap: 10px;

  .messagers_item {
    display: flex;
    align-items: center;
  }
}



.menu_bar {
  display: grid;
  grid-template-columns: auto minmax(320px, 1180px) auto;
  gap: 20px;
}

.menu_bar_container {
  grid-column: 2;
  display: flex;
  gap: 18px;
  justify-content: space-between;
  background-color: #fff;
  padding: 14px 20px;

  border-radius: 6px;
  background: rgba(255, 255, 255, 0.80);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);

  .logo_container {
    display: flex;
  }

  .logo {
    display: flex;
  }

  .menu_container {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 30px;

    border-radius: 50px;
    background: rgba(194, 194, 194, 0.10);
  }

  .menu_item {
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 4px;
  }
}
