
.megaMenu {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 30px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
    font-size: 15px;
    line-height: normal;

    width: 100%;
    top: 104%;
    left: 0;
}

.submenu {
    display: grid;
    gap: 8px;

    h4 {
        margin: 0;
    }
}

.submenu_list {
    display: grid;
    gap: 8px;
    padding-left: 18px;
    list-style: disc;
}
 

  
.menu_item {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 10px 16px;
    border-radius: 6px;

    svg {
        height: 16px;
        width: 16px;
    }
}

.menu_item:hover {
    color: var(--link-color-hover);
    background: #fff;
    
}

.submenu_item:hover {
    color: var(--link-color-hover);
}

