.section {
  padding: 50px 0;
  display: grid;
  grid-template-columns: auto minmax(320px, 960px) auto;
  gap: 20px;

  outline: 1px solid rgb(255, 0, 0);
}

.container {
    grid-column: 2;
    padding: 0 20px;

    outline: 1px solid green;
}

.col4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px
}

@media only screen and (min-width: 640px) and (max-width:960px) {
  .col4 {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px
  }
}

@media only screen and (max-width:640px) {
  .col4 {
    grid-template-columns: 1fr 1fr;
    gap: 20px
  }
}