.footer {
    background-color: #545454;
    color: #cccccc;
}

.action {
    text-align: center;
    padding: 20px;
    color: var(--white);
    background: rgba(0, 0, 0, .1);
    border-top: 1px solid hsla(0, 0%, 100%, .1);
    font-size: 18px;
    line-height: normal;
}

//

.widgets {
  display: grid;
  grid-template-columns: auto 1180px auto;

  border-top: 1px solid hsla(0, 0%, 100%, .1);
  font-size: 16px;
  line-height: 18px;
  padding: 20px 0;
}

.widgets_container {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  padding: 0 20px;
  white-space: pre-line;
  line-height: normal;

  h4 {
    color: var(--white);
    margin: 12px 0;
  }

  ul {
    display: grid;
    gap: 6px;
  }

  .link {
    display: flex;
    align-items: center;
    gap: 2px;

    svg {
      height: 16px;
    }
  }

  .link:hover {
    color: #fff;
  }

  .contacts {
    display: grid;
    gap: 6px;
  }

  .contacts_item {
    display: flex;
    align-items: center;
    gap: 6px;

    svg {
      padding: 2px
    }
  }

  .contacts_item:hover {
    color: #fff;

    svg {
      color: #cccccc;
    }
  }

  .company {
    display: grid;
    gap: 12px;
    margin-top: 48px;
  }

  .messengers {
    display: flex;
    gap: 8px;
  }
}

//

.copyrigts {
  display: grid;
  grid-template-columns: auto 1180px auto;
  border-top: 1px solid hsla(0, 0%, 100%, .1);
}

.copyrigts_container {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr auto;

  font-size: 15px;
  line-height: normal;
  padding: 20px;

  a:hover {
    color: #fff;
  }
}

//

// media

@media (576px < width <= 1220px) {
  .widgets {
    grid-template-columns: auto 960px auto;
  }

  .widgets_container {
    gap: 40px
  }

  .copyrigts {
    grid-template-columns: auto 960px auto;
  }
}

// media

@media (width <= 576px) {
  .action {
    font-size: 16px;
  }

  .widgets {
    grid-template-columns: auto minmax(360px, 460px) auto;
  }

  .widgets_container {
    grid-template-columns: 1fr;
    gap: 10px;
    justify-self: center;

    .company {
      margin-top: 0;
    }
  }

  .copyrigts {
    grid-template-columns: auto minmax(360px, 460px) auto;
  }

  .copyrigts_container {
    grid-template-columns: 1fr;
    padding: 20px;
    text-align: center;

    span {
      white-space: pre-line;
    }
  }
}

