.section {
  display: grid;
  grid-template-columns: auto 1180px auto;
  padding: 80px 0;
  position: relative;

  // outline: 1px solid rgb(255, 0, 0);
}

.container {
  grid-column: 2;
  padding: 0 20px;

  display: grid;
  gap: 60px;

  outline: 1px solid green;
}

.image {
  width: '100%';
  height: '100%';
  object-fit: 'cover';
  position: 'absolute';
  z-index: '-1';
}

.gray_1 {
  background-color: #f8f9fa;;
}

//

@media (576px < width <= 1220px) {
  .section {
    grid-template-columns: auto 960px auto;
    outline: 1px solid cornflowerblue;
  }
}

//

@media (width <= 576px) {
  .section {
    grid-template-columns: auto minmax(360px, 460px) auto;
    padding: 50px 0;

    // outline: 1px solid cornflowerblue;
  }

  .container {
    gap: 50px;
  }
}
