.breadcrumbs_container {
  display: flex;
  gap: 8px;
  font-size: 14px;
  line-height: 20px;

  svg {
    height: 18px;
    margin-top: -2px;
  }
}

.breadcrumbs {
  display: flex;
  gap: 8px;
}

// mobile

@media (width <= 576px) {
  .breadcrumbs_container {
      display: none;
  }
}
